body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
}

nav {
    background-color: #003366;
    color: #fff;
    padding: 12px;
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 4px;
    transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
    color: #007bff;
    background-color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-height: calc(80vh - 2rem - 50px);
    /* Calculate the minimum height of the container to fill the remaining space */
}

h1 {
    text-align: center;
    color: #333;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid #007bff;
}

.profile-info h2 {
    margin-top: 0;
    color: #007bff;
}

.profile-info p {
    color: #555;
    line-height: 1.6;
}

.footer {
    background-color: #003366;
    color: #fff;
    padding: 2px;
    font-size: medium;
    font-weight: lighter;
    text-align: center;
    position: fixed;
    bottom: 0;
    /* Changed from 1px to 0 to align with the bottom */
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Align content horizontally to the center */
    align-items: center;
    /* Align content vertically to the center */
    height: 30px;
}